*{
    margin: 0;
    padding: 0;
}

html, body {
    overflow: auto;
}

body{
    text-align: center;
    padding-top: 90px;
    background-color: #f1f1f1;
}

/*FONTES*/
h1{
    color: #0b0bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

h2{
    color: #0b0bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

h3{
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h4{
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

h5{
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

p{
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

/*MENU*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0707a5;
    z-index: 100;
    transition: all ease 0.3;
}

.ativaCor {
    background-color: #07078b;
}

.logo {
    margin-left: 60px;
    display: flex;
}

.logo img {
    height: 60px;
    padding-right: 15px;
    filter: drop-shadow(5px 6px 3px #06067a);
}

.menu {
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #f1f1f1;
    opacity: 1;
}

.menu li a:hover {
    color: #aaaaaa;
}

/*SLIDES*/
.slide-content {
    height: 70vh;
    padding-top: 15vh;
    top: 50%;
    left: 50%;
    text-align: center;
}

.slide-content button {
    width: 200px;
    height: 55px;
    background-color: #0b0bcc;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
}
.slide-content button a {
    text-decoration: none;
    color: #f1f1f1;
}

.slide-content button:hover {
    background-color: #0a0aaa;
}

/*.slide-content br {
    
} */

/*#botoes > button {
    background-color: hsl(0, 0%, 56%, 0.5);
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
    width: 20px;
    height: 20px;
    border: transparent;
    align-items: center;
}

#botoes > button:hover {
    background-color: hsl(240, 90%, 42%, 0.5);
}

#botoes > button.selected {
    background-color: hsla(240, 90%, 42%);
}*/

/*PROJETOS*/
#projetos {
    text-align: center;
}

#projetos > div {
    display: inline-block;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: left;
}

#projetos > div > img {
    display: block;
    margin: 10 auto;
}

/*BANNERS*/
#hardware {
    padding-left: 60px;
    padding-right: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

#firmware {
    padding-left: 60px;
    padding-right: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#software {
    padding-left: 60px;
    padding-right: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#banners p{
    color: #f1f1f1;
}

/*CONTATO*/
#contato h3{
    color: #292929;
    font-size: 45px;
}

/*FOOTER*/
#footer {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292929;
}