*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

h1{
    color: #0b0bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

h2{
    color: #0b0bcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

h3{
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h4{
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

h5{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.slide-container {
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slide:not(:first-of-type) {
    transform: translateX(100%);
  }
  
  .slide.active {
    transform: translateX(0%);
  }

#contate {
    width: 200px;
    height: 50px;
    background-color: #0b0bcc;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-color: transparent;
}

#contate:hover {
    background-color: #ffffff;
    color: #0b0bcc;
    border-color: #0b0bcc;
    border-bottom: 1cm;
}

#botoes > button {
    background-color: hsl(0, 0%, 56%, 0.5);
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
    width: 20px;
    height: 20px;
    border: transparent;
    align-items: center;
}

#botoes > button:hover {
    background-color: hsl(240, 90%, 42%, 0.5);
}

#botoes > button.selected {
    background-color: hsla(240, 90%, 42%);
}

#projetos {
    text-align: center;
}
 
#projetos > div {
    display: inline-block;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: left;
}
 
#projetos > div > img {
    display: block;
    margin: 10 auto;
}
